html {
	scroll-padding-top: 4rem !important;
}

.sidebar {
	display: none !important;
}

.active {
	background-color: #fff3cd !important;
}

@media (min-width: 48em) {
	.sidebar {
		display: block !important;
		position: sticky !important;
		top: 4.5rem !important;
		justify-content: center !important;
	}
}

/* Links
--------------------------------------------- */

a:focus {
	border: 1px solid #000 !important;
}

